.Post {
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    /* Box shadow shamelessly stolen from https://css-tricks.com/almanac/properties/b/box-shadow/ */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
}
